@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Spartan", sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* Global Styles */

h1 {
  font-size: 50px;
  line-height: 64px;
  color: #e0dc12;
}

h2 {
  font-size: 46px;
  line-height: 54px;
  color: #000000;
}

h4 {
  font-size: 20px;
  color: #000000;
}

h6 {
  font-weight: 700;
  font-size: 12px;
}

p {
  font-size: 16px;
  color: #000000;
  margin: 15px 0 20px 0;
}

.section-p1 {
  padding: 40px 80px;

}

.section-m1 {
  margin: 40px 0;
}

button.simple {
  font-size: 14px;
  font-weight: 600;
  padding: 15px 30px;
  color: rgb(0, 0, 0);
  background-color: rgb(218, 213, 213);
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  border: none;
  transition: 0.2s;
}

button.white {
  font-size: 13px;
  font-weight: 600;
  padding: 11px 18px;
  color: rgb(255, 255, 255);
  background-color: transparent;
  cursor: pointer;
  outline: none;
  border: 1px solid white;
  transition: 0.2s;
}

body {
  width: 100%;
}

/* Header */
#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 80px;
  background-color: rgb(221, 156, 156);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.30);
  z-index: 999;
  position: sticky;
  top: 0;
  left: 0;

}

#navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

#navbar li {
  list-style: none;
  padding: 0 20px;
}

#navbar li a {
  text-decoration: none;
  font-size: 17px;
  font-weight: 600;
  color: #222;
  transition: 0.3s ease;
  position: relative;
}

#navbar li a:hover,
#navbar li a.active {
  color: white;
}

#navbar li a.active::after,
#navbar li a:hover::after {
  content: "";
  width: 30%;
  height: 2px;
  background-color: bisque;
  position: absolute;
  bottom: -4px;
  left: 20px;
}

#mobile {
  display: none;
  align-items: center;
}

#close {
  display: none;
}

/* Home page */
#hero {
  background-image: url("img/hero6.jpg");
  height: 90vh;
  width: 100%;
  background-size: cover;
  background-position: top 40% right 0;
  padding: 0 80px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

#hero h4 {
  padding-bottom: 15px;
}

#hero h1 {
  color: rgb(2, 105, 66);
}

#hero button {
  background-image: url(/img/button.png);
  background-color: transparent;
  color: rgb(245, 31, 31);
  border: 0;
  padding: 14px 80px 14px 65px;
  font-size: 18px;
  font-weight: 700;
  background-repeat: no-repeat;
  cursor: pointer;

}

#feature {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

#feature .fe-box {
  width: 180px;
  text-align: center;
  padding: 25px 15px;
  box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.30);
  border: 1px solid rgb(233, 230, 230);
  border-radius: 6px;
  margin: 15px 0;
  transition: 0.3s ease;
}

#feature .fe-box:hover {
  box-shadow: 9px 9px 15px rgba(0, 0, 0, 0.30);
}

#feature .fe-box img {
  width: 100%;
  margin-bottom: 10px;
}

#feature .fe-box h6 {
  display: inline-block;
  padding: 9px 8px 6px 8px;
  line-height: 1;
  border-radius: px;
  color: rgb(3, 131, 131);
  background-color: rgb(189, 255, 255);
}

#feature .fe-box:nth-child(2) h6 {
  background-color: rgb(238, 164, 176);
}

#feature .fe-box:nth-child(3) h6 {
  background-color: rgb(111, 201, 118);
}

#feature .fe-box:nth-child(4) h6 {
  background-color: rgb(121, 188, 243);
}

#feature .fe-box:nth-child(5) h6 {
  background-color: rgb(184, 171, 231);
}

#feature .fe-box:nth-child(6) h6 {
  background-color: rgb(206, 156, 83);
}


#product1 {
  text-align: center;
}

#product1 .pro-container {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  flex-wrap: wrap;
}

#product1 .pro {
  width: 23%;
  min-width: 250px;
  padding: 10px 12px;
  border: 1px solid rgb(233, 230, 230);
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.30);
  margin: 15px 0;
  transition: 0.2s ease;
  position: relative;
}

#product1 .pro:hover {
  box-shadow: 9px 9px 15px rgba(0, 0, 0, 0.30);
}

#product1 .pro img {
  width: 100%;
  border-radius: 20px;
}

#product1 .pro .des {
  text-align: start;
  padding: 10px 0;
}

#product1 .pro .des span {
  color: rgb(66, 65, 65);
  font-size: 12px;
}

#product1 .pro .des h5 {
  padding: 7px 0;
  color: #000000;
  font-size: 14px;
}

#product1 .pro .des i {
  font-size: 18px;
  color: #dad15a;
}

#product1 .pro .des h4 {
  padding-top: 7px;
  font-size: 15px;
  font-weight: 700;
  color: rgba(20, 168, 119, 0.705);

}

#product1 .pro .cart {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50px;
  background-color: rgb(171, 240, 240);
  font-weight: 500;
  color: rgba(46, 100, 100, 0.733);
  border: 1px solid rgb(177, 171, 171);
  bottom: 20px;
  right: 10px;
  position: absolute;
}

#banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url(img/banner/b2.jpg);
  width: 100%;
  height: 40vh;
  background-size: cover;
  background-position: center;
}

#banner h4 {
  color: rgb(67, 97, 97);
  font-size: 16px;
}

#banner h2 {
  color: rgb(61, 61, 41);
  font-size: 30px;
  padding: 10px 0;
}

#banner h2 span {
  color: rgba(165, 17, 17, 0.822);
}

#banner button:hover {
  background-color: rgb(180, 130, 161);
  color: white;
}

#sm-banner .banner-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: center;
  background-image: url(img/banner/b17.jpg);
  min-width: 580px;
  height: 50vh;
  background-size: cover;
  background-position: center;
  padding: 30px;
}

#sm-banner .banner-box2 {
  background-image: url(img/banner/b10.jpg);

}


#sm-banner {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

#sm-banner h4 {
  color: white;
  font-size: 20px;
  font-weight: 300;
}

#sm-banner h2 {
  color: white;
  font-size: 30px;
  font-weight: 800;
}

#sm-banner span {
  color: white;
  font-size: 15px;
  font-weight: 500;
  padding-bottom: 15px;
}

#sm-banner .banner-box:hover button {
  background: #964967;
  border: 1px solid #964967;
}

#banner3 {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 80px;
}

#banner3 .banner-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: center;
  background-image: url(img/banner/b7.jpg);
  min-width: 30%;
  height: 30vh;
  background-size: cover;
  background-position: center;
  padding: 20px;
  margin-bottom: 20px;
}

#banner3 .banner-box2 {
  background-image: url(img/banner/b4.jpg);

}


#banner3 .banner-box3 {
  background-image: url(img/banner/b18.jpg);

}

#banner3 h2 {
  color: white;
  font-weight: 900;
  font-size: 22px;
}

#banner3 h3 {
  color: rgb(200, 255, 137);
  font-weight: 800;
  font-size: 18px;
}

#newsletter {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  background-image: url(img/banner/b14.png);
  background-repeat: no-repeat;
  background-position: 20% 30%;
  background-color: #023f30;
}

#newsletter h4 {
  font-size: 22px;
  font-weight: 700;
  color: aliceblue;
}


#newsletter p {
  font-size: 14px;
  font-weight: 600;
  color: aliceblue;
}

#newsletter .form {
  display: flex;
  width: 40%;
}

#newsletter p span {
  color: #e0dc12;
}

#newsletter input {
  height: 3.125rem;
  padding: 0 1.25em;
  font-size: 14px;
  width: 100%;
  border: 1px solid transparent;
  border-radius: 4px;
  outline: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

#newsletter button {
  background-color: #000000;
  color: rgb(255, 255, 255);
  white-space: nowrap;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

footer .col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}

footer .logo {
  margin-bottom: 30px;
}

footer h4 {
  font-size: 14px;
  padding-bottom: 20px;
}

footer p {
  font-size: 13px;
  margin: 0 0 8px 0;
}

footer a {
  font-size: 13px;
  text-decoration: none;
  color: #000000;
  margin-bottom: 10px;
}

footer .follow {
  margin-top: 20px;
}

footer .follow i {
  color: #222;
  padding-right: 5px;
  cursor: pointer;

}

footer .install .row img {
  border: 1px solid rgb(2, 105, 66);
  border-radius: 6px;
}

footer .install img {
  margin: 10px 0 15px 0;
}

footer .follow i:hover,
footer a:hover {
  color: #ff00ff;
}

footer .copywrite {
  width: 100%;
  text-align: center;
}

/* shop page */
#page-header {
  background-image: url(img/banner/b1.jpg);
  width: 100%;
  height: 40vh;
  background-size: cover;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  padding: 40px;
}

#page-header h2 {
  color: rgb(46, 159, 235);
}

#page-header p {
  color: rgb(0, 114, 134);
}

#pagination {
  text-align: center;
}

#pagination a {
  text-decoration: none;
  background-color: #023f30;
  padding: 15px 20px;
  border-radius: 4px;
  color: white;
  font-weight: 600;
}

#pagination a i {
  font-size: 16px;
  font-weight: 600;
}

/* Product single product section */


#pro-details {
  display: flex;
  margin-top: 20px;
}

#pro-details .single-pro-image {
  width: 40%;
  margin-right: 50px;
}

.small-img-group {
  display: flex;
  justify-content: space-between;
}

.small-img-col {
  flex-basis: 24%;
  cursor: pointer;
}

#pro-details .single-pro-details {
  width: 50%;
  padding: 30px;
}

#pro-details .single-pro-details h4 {
  padding: 40px 0 20px 0;
  font-size: 30px;
}

#pro-details .single-pro-details h2 {
  font-size: 26px;
}

#pro-details .single-pro-details {
  font-size: 22px;
}

#pro-details .single-pro-details select {
  display: block;
  padding: 8px 10px;
  margin-bottom: 25px;
}

#pro-details .single-pro-details input {
  width: 50px;
  height: 42px;
  padding-left: 10px;
  font-size: 16px;
}

#pro-details .single-pro-details button {
  background-color: #025a44;
  color: antiquewhite;
  height: 42px;
}

#pro-details .single-pro-details span {
  line-height: 30px;
}

/* Blog Page */
#page-header.blog-header {
  background-image: url(img/banner/b19.jpg);
}


#page-header.blog-header h2 {
  color: white;
}

#page-header.blog-header p {
  color: rgb(255, 255, 255);
  font-size: 25px;
  font-weight: 700;
}

#blog {
  padding: 150px 150px 0 150px;
}

#blog .blog-box {
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
  padding-bottom: 90px;
}

#blog .blog-img {
  width: 50%;
  margin-right: 40px;
}

#blog img {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

#blog .blog-details {
  width: 50%;
  margin-right: 40px;
}

#blog .blog-details a {
  text-decoration: none;
  font-size: 11px;
  color: black;
  font-weight: 700;
  position: relative;
  transition: 0.3s;
}

#blog .blog-details a::after {
  content: "";
  width: 50px;
  height: 1px;
  background-color: black;
  position: absolute;
  top: 4px;
  right: -60px;
}

#blog .blog-details a:hover {
  color: aqua;
}

#blog .blog-details a:hover::after {
  background-color: aqua;
}


#blog .blog-box h1 {
  position: absolute;
  top: -50px;
  left: 0;
  font-size: 70px;
  font-weight: 700;
  color: rgb(185, 183, 183);
  z-index: -9;
}

/* About Page */
#page-header.about-header {
  background-image: url(img/about/banner.jpg);
}

#page-header.about-header h2 {
  color: aliceblue;
}

#page-header.about-header p {
  color: rgb(255, 233, 40);
}

#about-header {
  display: flex;
  align-items: center;
}

#about-header img {
  width: 50%;
  height: auto;
  flex-direction: row;
}

#about-header div {
  padding-left: 40px;
}

#about-app {
  display: flex;
  align-items: center;
  flex-direction: column;
}

#about-app .Appimg {
  cursor: pointer;
}




/* contact page */
#page-header.contact-header {
  background-image: url(img/banner/contact-banner.jpg);
}

.container h1 {
  font-size: 30px;
  font-weight: 800;
  color: #222;
}

/* cart page */

#cart{
  overflow-x: auto;
}

#page-header.cart-header {
  background-image: url(img/banner/cart.avif);
}

#page-header.cart-header h2 {
  color: white;
}

#page-header.cart-header p {
  color: black;
}

#cart table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  white-space: nowrap;
}

#cart table img {
  width: 70px;
}

#cart table td:nth-child(1) {
  width: 100px;
  text-align: center;
}

#cart table td:nth-child(2) {
  width: 150px;
  text-align: center;
}

#cart table td:nth-child(3) {
  width: 250px;
  text-align: center;
}

#cart table td:nth-child(4),
#cart table td:nth-child(5),
#cart table td:nth-child(6) {
  width: 150px;
  text-align: center;
}

#cart table td:nth-child(5) input {
  width: 70px;
  padding: 10px 5px 10px 15px;
}

#cart table thead {
  border: 1px solid rgb(182, 180, 180);
  border-left: none;
  border-right: none;
}

#cart table thead td {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 13px;
  padding: 18px 0;
}


#cart table tbody tr td {
  padding-top: 15px;
}

#cart table tbody td {
  font-size: 30px;
}

#cart-add{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#coupon{
  width: 50%;
  margin-bottom: 30px;
}

#coupon h3,
#subtotal h3{
  padding-bottom: 15px;
}

#coupon input{
  padding: 10px 20px;
  outline: none;
  width: 60%;
  margin-right: 10px;
  border: 1px solid rgb(156, 156, 156);
}

#coupon button,
#subtotal button{
  background-color: #025a44;
  color: white;
  padding: 12px 20px;
}

#subtotal{
  width: 50%;
  margin-bottom: 30px;
  border: 1px solid rgb(180, 180, 180);
  padding: 30px;
}
#subtotal table{
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 20px;
}

#subtotal table td{
  width: 50%;
  border: 1px solid rgb(180, 180, 180);
  padding: 10px;
  font-size: 13px;
}










/* Media Query for making site responsive */
@media (max-width:799px) {
  .section-p1 {
    padding: 40px 40px;
  }

  #navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    right: -300px;
    height: 100vh;
    width: 300px;
    background-color: #ada3a7;
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.30);
    padding: 88px 0 0 10px;
    transition: 0.3s;
  }

  #navbar.active {
    right: 0px;
  }

  #navbar li {
    margin-bottom: 25px;
  }

  #mobile {
    display: flex;
    align-items: center;
  }

  #mobile i {
    color: #000000;
    font-size: 24px;
    padding: 20px;
    cursor: pointer;
  }

  #close {
    display: initial;
    position: absolute;
    top: 30px;
    left: 30px;
    color: #000000;
    font-size: 24px;
  }

  #lg-bag {
    display: none;
  }

  #hero {
    height: 70vh;
    padding: 0 80px;
    background-position: top 40% right 50%;
  }

  #hero p {
    color: white;
  }

  #feature {
    justify-content: center;
  }

  #feature .fe-box {
    margin: 15px 15px;
  }

  #product1 .pro-container {
    justify-content: center;
  }

  #product1 .pro {
    margin: 15px;
  }

  #banner {
    height: 20vh;
  }

  #sm-banner .banner-box {
    min-width: 100%;
    height: 30vh;
  }

  #banner3 {
    padding: 0px 40px;
  }

  #banner3 .banner-box {
    width: 28%;
  }

  #newsletter .form {
    width: 70%;
  }

  #pro-details {
    display: flex;
    flex-direction: column;
  }

  #pro-details .single-pro-image {
    width: 100%;
    margin-right: 0px;
  }

  #pro-details .single-pro-details {
    width: 100%;
  }

  #about-app .Appimg img {
    width: 100%;
  }

  #about-header {
    flex-direction: column;
  }

  #about-header img {
    width: 100%;
    margin-bottom: 20px;
  }

  #about-header div {
    padding-left: 0px;
  }

}

@media(max-width: 477px) {
  .section-p1 {
    padding: 20px;
  }

  #header {
    padding: 10px 30px;
    height: 65px;
  }

  h2 {
    font-size: 32px;
    color; white;
  }

  h1 {
    font-size: 38px;
  }

  #hero {
    padding: 40px;
    background-position: 55%;
  }

  #feature {
    justify-content: space-between;
  }

  #feature .fe-box {
    width: 155px;
    margin: 0 0 15px 0;
  }

  #product1 .pro {
    width: 100%;
  }

  #banner {
    height: 40vh;
  }

  #sm-banner .banner-box {
    height: 40vh;

  }

  #sm-banner .banner-box2 {
    margin-top: 20px;
  }

  #banner3 {
    padding: 20px;
  }

  #banner3 .banner-box {
    width: 100%;
  }

  #newsletter {
    padding: 40px 20px;
  }

  #newsletter .form {
    width: 100%;
  }

  /* single Product */

  #pro-details {
    display: flex;
    flex-direction: column;
  }

  #pro-details .single-pro-image {
    width: 100%;
    margin-right: 0px;
  }

  #pro-details .single-pro-details {
    width: 100%;
  }


  /* Blog Page*/

  #blog .blog-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  #blog {
    padding: 100px 20px 0 20px;
  }

  #blog .blog-img {
    width: 100%;
    margin-right: 0px;
    margin-bottom: 20px;
  }

  #blog .blog-details {
    width: 100%;
  }

  /* About page */
  #about-header {
    flex-direction: column;
  }

  #about-header img {
    width: 100%;
    margin-bottom: 20px;
  }

  #about-header div {
    padding-left: 0px;
  }

  #about-app .Appimg img {
    width: 100%;
  }
/* Cart page*/
 #cart-add{
  flex-direction: column;
 }
 #coupon{
  width: 100%;
 }
 #subtotal{
  width: 100%;
  padding: 20px;
 }
}

/* contact page */


@media (min-width: 1025px) {
  .h-custom {
    height: 100vh !important;
  }
}

.card-registration .select-input.form-control[readonly]:not([disabled]) {
  font-size: 1rem;
  line-height: 2.15;
  padding-left: .75em;
  padding-right: .75em;
}

.card-registration .select-arrow {
  top: 13px;
}

.bg-grey {
  background-color: #eae8e8;
}

@media (min-width: 992px) {
  .card-registration-2 .bg-grey {
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
  }
}

@media (max-width: 991px) {
  .card-registration-2 .bg-grey {
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
  }
}
